<%= turbo_frame_tag(entry) do %>
  <div class="columns entry-row">
    <div class="column"><%= entry.amount.to_f.round(2).to_s + ' $' %></div>
    <div class="column"><%= entry.date %></div>
    <div class="column"><%= entry.description %></div>
    <div class="column">
      <%= link_to edit_entry_path(entry), class: 'button is-white' do %>
        <span class="icon is-small has-text-info"><i class="fas fa-pen"></i></span>
      <% end %>
      <%= link_to entry, method: :delete, class: 'button is-white' do %>
        <span class="icon is-small has-text-danger"><i class="fas fa-trash-alt"></i></span>
    <% end %>
    </div>
  </div>
<% end %>
